/* 
===================
GENERAL （￣ε￣ʃƪ）
=================== 
*/

/* costume font */
@font-face {
    font-family: ringbearer;
    src: url(./fonts/ringbearer/RINGM___.TTF) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ringbearer, Helvetica, sans-serif;
}

p, a, li {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    position: relative;
    width: 100%;
    top: -23px;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 8px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(254, 248, 230);
    font-size: 17px;
    font-family: ringbearer;
}

nav ul li a:hover{
    color: rgb(193, 152, 87);
}

nav ul li a:active{
    color: rgb(101, 71, 24);
}

footer {
    display: flex;
    gap: 5em;
    background-color: #272727;
    width: 100%;
    padding: 120px 200px;
    color: rgb(254, 248, 230);
    font-size: 1.3rem;
}

footer section {
    /* Als je dingen onder elkaar wilt hebben BLOCKJE */
    display: block; 
}

footer ul {
    list-style: none;
}

footer a {
    color: rgb(254, 248, 230);
}

footer a:visited {
    color: rgb(193, 152, 87);
}

.animation {
    right: 20px;
    bottom: 20px;
    position: fixed;
    width: 5%;
    transform: rotate(90deg);
    animation-name: RingAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes RingAnimation{
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/**
    ===================
    HERO (⌐■_■)
    ===================
*/

.hero {
    width: 100%;
    height: 120vh;
    background-image: url(image/DezeproberenBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quest {
    width: 100%;
    background-image: url(image/TochMaarDeze.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.character {
    background-image: url(image/EpicBG.png);
    background-repeat: no-repeat;
}

.location {
    background-image: url(image/MapDarkVersion.jpg);
    background-color: black;
    background-repeat: no-repeat;
}

/**
    ===================
    HOME (⌐■_■)
    ===================
*/

.content {
    color: rgb(254, 248, 230);
    z-index: 2;
    text-align: left;
    padding: 200px;
}

.content p {
    font-size: 1.5em;
    font-family: ringbearer;
}

h1 {
    font-size: 4em;
    margin: 10px 0 30px;
    line-height: 80px;
}

.adventure-button {
    background-color: transparent;
    border: 2px solid rgb(254, 248, 230);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    color: rgb(254, 248, 230);
    text-decoration: none;
    font-family: ringbearer;
    padding: 10px 25px;
}



.adventure-button:hover {
    background-color: #7d462b;
    color: rgb(254, 248, 230);
}

/**
    ===================
    THE QUEST （￣ε￣ʃƪ）
    ===================
*/
.the-quest {
    position: relative;
    text-align: center;
    color: rgb(254, 248, 230);
    padding: 220px 0;
}

.header {
    color: rgb(254, 248, 230);
    width: 80%;
    margin: auto;
    text-align: center;
}

.the-quest h1 {
    font-size: 80px;
    text-align: center;
    font-family: ringbearer, fantasy;
}

.ring-text {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    align-items: center;
   
}

.ring-text img{
    width: 100vw;
}

.the-quest-items {
    background: linear-gradient(40.25turn, rgb(67, 76, 73), rgb(51, 39, 35));
    color: rgb(254, 248, 230);
}

.quest-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.content-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    margin: 20px;
    padding-top: 7em;
}

.content-col img {
    width: 30%;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.content-col p {
    padding: 0;

}

.content-col h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.quest-stories {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    border-top: solid 1px #696969;
}

.quest-stories p {
color: rgb(254, 248, 230);
    /**
        Margin & Padding: Top Right Bottom Left
    **/
    margin: 1em 1em 2em 1em;
}

/**
    ===================
    CHARACTERS ٩(▀̿Ĺ̯▀̿ ̿٩)三 
    ===================
*/

.characters-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters-box h1 {
    color: rgb(254, 248, 230);
    text-align: center;
    margin-top: 4em;
    margin-bottom: 20px; 
    line-height: 80px;
}

.characters-box h3 {
    margin-top: 10px; 
    color: rgb(254, 248, 230);
}

.characters h2, p{
    margin-top: 1em;
}

.characters {
    background: linear-gradient(40.25turn, rgb(18, 6, 12), rgb(100, 118, 92));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 20px;
    margin-top: 10em;
    margin-right: auto;
    margin-left: auto;
    color: rgb(254, 248, 230);
}
 
.characters div{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}

.characters div img{
    width: 60%;
    aspect-ratio: 1 / 1.5 ;
    object-fit: cover;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 20px;
}

/**
    ===================
    LOCATIONS (◑____________◑)
    ===================
*/

.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations h1 {
    color: rgb(254, 248, 230);
    text-align: center;
    margin-top: 4em;
    margin-bottom: 20px; 
    line-height: 80px;
}

.maplocations h2, p{
    margin-top: 1em;
}

.locations h3 {
    margin-top: 10px; 
    color: rgb(254, 248, 230);
    text-align: center;
}

.maplocations {
    background: linear-gradient(40.25turn, rgb(7, 1, 1), rgb(124, 61, 29));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 20px;
    margin-top: 7em;
    margin-right: auto;
    margin-left: auto;
    color: rgb(254, 248, 230);
}
 
.maplocations div{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}

.maplocations div img{
    width: 80%;
    aspect-ratio: 1.5 / 1 ;
    object-fit: cover;
    border: 6px solid rgb(198, 165, 120);
    border-radius: 20px;
}
